<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="span5">
                <h3>Contact</h3>
                <p>Vous avez besoin de nous pour un projet, contactez-nous sur les réseaux sociaux, à <a href="mailto:dev@code-troopers.com">dev@code-troopers.com</a> ou au <a href="tel:+33139300340">+33 139 300 340</a></p>
            </div>
            <div class="span4 simple-social-icons">
                <h3>Réseaux sociaux</h3>
                <ul>
                    <li class="social-twitter"><a href="https://twitter.com/codetroopers">&#xf309;</a></li>
                    <li class="social-facebook"><a href="https://www.facebook.com/pages/Code-Troopers/123604307824664">&#xf30c;</a></li>
                    <li class="social-gplus"><a href="https://plus.google.com/106400976575155010329/posts">&#xf30f;</a></li>
                    <li class="social-github"><a href="https://github.com/code-troopers">&#xf300;</a></li>
                </ul>
            </div>
            <div class="span3">
                <h3>Sitemap</h3>
                <ul>
                    <li><a href="#services">Nos services</a></li>
                    <li><a href="#team">L'équipe</a></li>
                    <li><a href="#projects">Nos réalisations</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12 footer-under">
                Site réalisé par Code Troopers<br/>
                © 2013 SRMvision / Tous droits réservés
            </div>
        </div>
    </div>
</footer>
