<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->
<nav class="navbar navbar-inverse">
    <div class="">
        <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </a>
	        <div class="nav-collapse collapse">
	            <ul class="nav">
	                <li><a href="/index.html#services">Nos services</a></li>
	                <li><a href="/index.html#team">L'équipe</a></li>
	                <li><a href="/index.html#projects">Nos réalisations</a></li>
	                <li><a href="/index.html#contact">Contact</a></li>
	                <li><a href="/blog.html">Blog</a></li>
	            </ul>
	        </div>
        </div>
    </div>
</nav>